@layout('main')
@section('extracss')
{{style('about.css')}}
@endsection
@section('content')
<div class="row">
    <p>This is the about page.</p>
    <hr>
</div>
<button type="button" class="btn btn-secondary"><a href="/">Home</a></button>
@endsection