@layout('main')
@section('extracss')
@endsection
@section('content')
<div class="main-container">
    <div class="form-group">
        <form action="{{}}">
            <input type="text" name="answerChoice1" >
            
        </form>
    </div>
</div>
@endsection

