@layout('appmain')
@section('extracss')
    {{style('thankyou')}}
@endsection
@section('content')
    <div class="thankyou-container">
        <div class="jumbotron ">
            <h2><p>Thank You for filling the survey.</p></h2>
            <h6><p>Your response has been recorded. You may now close the page.</p></h6>
        </div>
    </div>
@endsection