@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
.container{
    text-align: center;
    background: #e2e2e2;
    border-radius: 7px;
}
.main-container {
    padding: 2em;
    margin-top: 10rem;
    margin-left: auto;
    box-sizing: content-box;
    height: 7rem;
}
.form-control{
    background: #bfbfbf;
  border-radius: 7px;
  margin-bottom: 10px;
  
}

a {
    color: #343a40;
    text-decoration: none !important;
    
}

button{
    width: 5rem;
}

body {
    font-family: Lato;
    font-weight: 700;
    background-color:#EFEFEF;
}

.row {
    display: block;
    color: #017cff;
    word-spacing: 1.5px;
    padding-top: 2rem;
}
