@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: Lato;
    font-weight: 700;
    background-color:#EFEFEF;
}
.container{
    text-align: center;
    margin: 0 auto;
    margin-top: 11rem;
    align-content: center;
    padding:1rem;
    background-color: #bfbfbf;
    border-radius: 7px;
    max-width: 960px;
}
.main-container{
    background-color: #e2e2e2;
    margin: 1rem 1rem;
    padding: 2rem;
    width: 900px;
    border-radius: 7px;
}

hr{
    margin-bottom: 1rem;    
    border-top: 1.5px solid #017cff;
    margin-top: 0;
    display: block;
}

.form-container{
    /* background-color: rgba(199, 195, 195, 0.877); */
    border-spacing: 0.1rem;
}

.form-group{
    padding: auto auto;
}

.btn-primary {
    color: #fff;
    background-color: rgba(0, 123, 255, 0.71);
    border-color: #0a7cf1;    
}
.btn-secondary{
    -webkit-text-fill-color: #EFEFEF;
}

.btn{
    margin: 5px 25px;
    border-radius: 2px;
    width: 10rem;
}

a{
    text-decoration: none !important;
}
.desc-row{
    font-size: 15px;
    padding: 0.5rem;
    max-width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    border: 1px black;
}

.title-row{
    font-size: 15px;
    max-width: 500px;
    margin: auto;
    border-radius: 7px;
}