@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: Lato;
    font-weight: 700;
    background-color:#EFEFEF;
}
.main-container {
    font-family: 'Lato';
    background-color: #e6e6e6;
    margin-top: auto;
    text-align: center;
    border-radius: 7px;
    align-content: center;
    padding: 1rem;
}
.form-group{
    margin: 1rem;
    background-color: #d8d5d5bd;
    border-radius: 7px;
    text-align: center;
}
.container{
    padding: 12rem;
    margin: 0 auto;
}
.row{
    margin: 0 auto;
    padding: 0.5rem;
}

button{
    width: 10rem;
}

a{
    text-decoration: none !important;
    color: white;
}

textarea{
    border-radius: 7px;
    width: 300px;
    height: 100px;
}

input{
    border-radius: 7px;
    width: 300px;
}