.container {
    padding: 2em;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
    display: block
}

.webpage-container{
    background: #e2e2e2;
    border-radius: 7px;
    padding: 1em;
    margin-top: 10rem;
    display: block;  
}

.question-container {
    background: #bfbfbf;
    border-radius: 7px;
    padding: 1em;
    padding-bottom: 0.0001rem;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 200 auto;
}
