@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: Lato;
    font-weight: 700;
    background-color:#EFEFEF;
}
.container {
    padding: 2em;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
    display: block
}

.webpage-container{
    background: #e2e2e2;
    border-radius: 7px;
    padding: 1em;
    margin-top: 10rem;
    display: block;  
}

.chart-container {
    background: #bfbfbf;
    border-radius: 7px;
    padding: 1em;
    padding-bottom: 0.0001rem;
    margin-bottom: 10px;
   
}

a {
    color: #343a40;
    text-decoration: none !important;
    
}

button{
    width: 5rem;
}

body {
    font-family: Lato;
    font-weight: 700;
    background-color:#EFEFEF;
}

.row {
    display: block;
    color: #017cff;
    word-spacing: 1.5px;
}

