@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
.signin-container{
  margin: 10rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.form-group{
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
  background:#bfbfbf;
  border-radius: 7px;
}

.webpage-container{
  text-align: center;
  background-color: gainsboro;
  border-radius: 7px;
  width: 720px;
  margin: 0 auto;
}

.row{
  padding: 0.5rem;
  padding-bottom: 0;
  display: block;
}

.container{
  margin: 0 auto;
}

a {
  color: #343a40;
  text-decoration: none !important;
  
}

button{
  width: 10rem;
}
.register-container{
  padding: 1rem;
}

hr {
  margin-bottom: 1rem;    
  border-top: 1.5px solid #017cff;
  margin-top: 0;
  display: block;
}

body {
  font-family: Lato;
  font-weight: 700;
  background-color:#EFEFEF;
}