.signin-container{
  margin: 10rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.form-group{
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
  background:#bfbfbf;
  border-radius: 7px;
}

.webpage-container{
  text-align: center;
  background-color: gainsboro;
  border-radius: 7px;
  width: 720px;
  margin: 0 auto;
}

.row{
  padding: 0.5rem;
  padding-bottom: 0;
  display: block;
}

.container{
  margin: 0 auto;
}
button{
  width: 10rem;
}

a{
  text-decoration: none !important;
}

.register-container{
  padding: 1rem;
}