.form-container{
    margin: 15rem 7rem;
    width: 450px;
    height: 250px;
    background-color: #e2e2e2;
    border-radius: 7px;
    text-align: center;
}

.container{
    width: 720px;
    height: 300px;
    display: block;
}
.row {
    margin: 1rem 1rem;
    padding: 5rem;

}
.button-row{
    margin: 1rem 1rem;
}

.form-group{
    margin: 1rem 1rem;
    padding: 1rem;  
}

input{
    border-radius: 7px;
}
textarea{
    border-radius:7px;
}

button{
    width: 10rem;
}
a{
    text-decoration: none !important;
    color: white;
}