@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: Lato;
    font-weight: 700;
    background-color:#EFEFEF;
}
.container{
    text-align: center;
    margin-top: 15rem;
    max-width: 720px;
}

.jumbotron{
    opacity: 0.90;
    align-items: center;

}