<h2>Hello!</h2>
<p> You have been invited to fill out a survey. Please do find the survey link below:</p>
<p><a>{{'https:'+request.headers.host+'/survey/'+token}}</a></p>
<p>The link will expire after 24hrs.</p>